* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 960px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    width: 100%;
    margin: auto;
}

.logo {
    padding-top: 20px;
}

.box-logo {
    margin: 0;
    width: 100px;
}

#office {
    font-weight: 300;

}

#name,#office {
    text-align: right;
}

hr {
    border-width: 2px;
    border-color: blue;
}

h1, h4 {
    color: blue;
}

.main-img {
    border-radius: 15px;
    box-shadow: 10px 10px 5px #888888;
}

.container {
    height: 100vh;
}

figcaption {
    padding-top: 10px;
}

.validator {
    border: solid black 1px;
    height: 100%;
    border-radius: 15px;
}

.row {
    margin: auto;
}

@media (orientation: landscape) {

    .box-logo {
        margin: 0;
        width: 80px;
    }

    .visible-xs {
        height: 100vh;
    }
}

li {
    padding-top: 30px;
    list-style-type: none;
}

#grad {
    border-radius: 20px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, gray, lightgray); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, gray, lightgray); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, gray, lightgray); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, gray, lightgray); /* Standard syntax */
}

.visible-lg {
    height: 30vh;
}

.visible-md {
    height: 50vh;
}

.visible-sm {
    height: 50vh;
}

.visible-xs {
    height: 100vh;
}

ul {
    padding: 0;
}

h3 {
    margin-top: 10px;
}