* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 960px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    width: 100%;
    margin: auto;
}

body {
        background-color: lightgray;
}

.logo {
    padding-top: 20px;
 }

.box-logo {
    margin: 0;
    width: 100px;
}

#office {
    font-weight: 300;

}

#name,#office {
    text-align: right;
}

hr {
    border-width: 2px;
    border-color: blue;
}

h1, h4 {
    color: blue;
}

.main-img {
    border-radius: 15px;
    box-shadow: 10px 10px 5px #888888;
}

.container {
    height: 100vh;
}

figcaption {
    padding-top: 10px;
}

.validator {
    border: solid black 1px;
    height: 100%;
    border-radius: 15px;
}